:root {
  --basic-button-color: #756157;
  --secondary-button-color: #82B3D3;
  --secondary-button-selected: #7DB54F;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

html {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
  width: 1px;
}

body {
  background-color: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "PT Sans", "Aria", sans-serif;
  line-height: 24px;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
}

.page-header {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
}

.page-footer {
  margin-top: auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.main-navigation {
  align-items: center;
  column-gap: 20px;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 168px;
}

.user-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.site-navigation-item,
.user-navigation-item {
  display: flex;
}

.site-navigation-link {
  color: #000000;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding: 20px 16px;
  text-decoration: none;
}

.user-navigation-link {
  display: flex;
  padding: 22px 12px;
  position: relative;
}

.user-navigation-quantity {
  align-items: center;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  justify-content: center;
  height: 20px;
  line-height: 10px;
  position: absolute;
  right: 4px;
  top: 11px;
  width: 20px;
}

.is-active .site-navigation-link {
  cursor: default;
  pointer-events: none;
}

.is-active > .site-navigation-link::after {
  content: "";
  background-color: #756257;
  bottom: -1px;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 32px);
}

.main-navigation-button {
  background-color: var(--basic-button-color);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "PT Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  text-transform: uppercase;
}

.main-navigation-button:hover {
  background-color: #615048;
}

.main-navigation-button:active {
  background-color: var(--basic-button-color);
  color: rgba(255, 255, 255, 0.3);
}

.hero {
  align-items: center;
  background-image: url('../images/icon-divider.svg'), url('../images/image-hero-background.jpg');
  background-repeat: no-repeat no-repeat;
  background-position: center bottom, center top;
  background-size: contain ;
  display: flex;
  justify-content: center;
  padding: 51px 0 82px 0;
}

.advantages,
.service {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  background-color: #ffffff;
}

.service {
  row-gap: 0;
}

.advantages-text,
.service-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 69px 0;
  row-gap: 25px;
  text-align: center;
  width: 651px;
}

.service-text {
  padding: 64px 0;
  row-gap: 20px;
}

.advantages-lead,
.service-lead {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.advantages-subtitle,
.service-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-list,
.service-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item,
.service-item {
  background: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  display: flex;
  min-height: 385px;
  width: 400px;
}

.is-icon-2.service-item {
  background-color: #ffffff;
}

.advantages-item.is-reverse {
  flex-direction: row-reverse;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  padding: 112.5px 85px;
  row-gap: 62px;
  text-align: center;
}

.service-item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 183px 85px 81px 85px;
  row-gap: 30px;
  text-align: center;
}

.is-icon-1 .service-item-text {
  background-image: url('../images/icon-home.svg');
  background-repeat: no-repeat;
  background-position: center 81px;
}

.is-icon-2 .service-item-text {
  background-image: url('../images/icon-food.svg');
  background-repeat: no-repeat;
  background-position: center 81px;
}

.is-icon-3 .service-item-text {
  background-image: url('../images/icon-present.svg');
  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-item.is-row {
  background-color: #82B3D3;
  color: #ffffff;
  flex-grow: 1;
  width: auto;
}

.advantages-item.is-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.is-row > .advantages-item-text {
  padding: 102px 85px;
}

.advantages-item-title,
.service-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  word-break: break-word;
}

.advantages-item-title::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.is-row .advantages-item-title::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-subtitle,
.service-item-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  word-break: break-word;
}

.booking {
  background-color: #ffffff;
  padding: 96px 0;
}

.booking-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 20px;
  text-align: center;
  width: 592px;
}

.booking-lead {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.booking-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.booking-button {
  background-color: var(--basic-button-color);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "PT Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 34px;
  padding: 8px 50px;
  text-transform: uppercase;
}

.page-footer {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 30px 70px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
}

.social-link {
  color: #83B3D3;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}

.contacts {
  display: flex;
}

.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.contacts-tel:hover {
  color: #756157;
}

.contacts-tel:active {
  opacity: 0.3;
}

.logo-footer {
  display: flex;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.logo-footer:hover {
  color: #756157;
}

.logo-footer:active {
  opacity: 0.3;
}

.subscription {
  background-image: url('../images/image-subscription.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 96px 0 104px 0;
}

.page-catalog .subscription {
  background-image: none;
}

.subscription-inner {
  display: flex;
  flex-direction: column;
  row-gap: 55px;
  text-align: center;
  margin: 0 auto;
  width: 684px;
}

.subscription-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 20px;
  text-align: center;
  width: 592px;
}

.subscription-lead {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.page-catalog .subscription-lead {
  color: #000000;
}

.subscription-subtitle {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.page-catalog .subscription-subtitle {
  color: #333333;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscription-input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px;
}

.subscription-button {
  background-color: var(--secondary-button-color);
  border: none;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "PT Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-transform: uppercase;
}

.tooltip-text {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 256px;
  color: #FFFFFF;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  background-color: #333333;
  padding: 20px 18px 23px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  left: 60%;
  top: calc(100% + 15px);
  transform: translateX(-50%);
}

.tooltip-text::before {
  content:'';
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 11px solid #333333;
  box-sizing: border-box;
  width: 19px;
  height: 9px;
  position:absolute;
  top: -10px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: relative;
}

.modal-tooltip {
  align-items: center;
  display: flex;
  column-gap: 10px;
}

.tooltip-toggle {
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.tooltip-toggle:hover ~ .tooltip-text {
  display: flex;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  position: absolute;
  padding: 64px 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.modal-booking {
  box-sizing: border-box;
  width: 717px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 88px;
  row-gap: 48px;
}

.modal-wrapper {
  background-color: #F2F2F2;
  width: 110px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 10px;
}

.modal-input-number {
  background-color: #F2F2F2;
  border: none;
  padding: 14px 10px;
  width: 31px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.modal-group {
  align-items: center;
  grid-column: span 2;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  max-width: 119px;
}

.modal-group-input {
  position: relative;
  box-sizing: border-box;
  width: 440px;
}

.modal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  position: absolute;
  left: 20px;
  bottom: -25px;
}

.modal-text-error {
  color: #FF5757;
}

.modal-text-helper {
  color: #333333;
}

.modal-input-date {
  background-color: #F2F2F2;
  border: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  padding: 12px 50px 12px 20px;
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  background-image: url('../images/icon-date.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal-input-date::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-input-date:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #E6E6E6;
}

.modal-input-date:focus {
  outline-color: #83B3D3;
}

.modal-input-date:not(:placeholder-shown):focus {
  background-color: #F2F2F2;
  color: #000000;
  outline-color: #000000;
}

.is-col.modal-group {
  grid-column: span 1;
}

.modal-close-button {
  align-items: center;
  background-color: #F2F2F2;
  border: none;
  border-radius: 100%;
  padding: 0;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 64px;
  right: 52px;
  height: 52px;
  width: 52px;
}

.modal-control {
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #F2F2F2;
  width: 20px;
  height: 20px;
  padding: 0;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  color: rgba(0,0,0,0.3);
}

.modal-button {
  grid-column: span 2;
  border: none;
  margin: 0;
  background-color: var(--secondary-button-color);
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
